/*-----------------------------
        GENERAL STYLING
------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;             /*site displays all the way to edge of browser screen*/
    opacity: 1;             /*this and transition affect the page loading fade-in effect*/
    transition: 2s opacity; /*2 second fade-in*/
    overflow-x: hidden;     /*prevents the horiz. scroll bar from appearing when the quote is hovered over*/
    user-select: none;      /*prevents the text on the webpage from being highlighted by the user*/

}

body.fade-out {             /*fade effect when page is loaded*/
    opacity: .1;            /*sets level of opacity at start of page load*/
}

h1 {
    text-transform: uppercase;
    font-family: "Antonio", sans-serif;
    font-size: 65px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

.white-text {
    color: #D1D0CB;       /*portfolio title text*/
    padding-top: 10vh;      /*adds padding (10% of the viewport height) to top of Portfolio Title text*/
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: .1vw;
    font-weight: normal;
    text-align: justify;        /*justifies text within p elements*/
    padding-left: 5vw;          /*relative padding equal to 5% of viewport width*/
    padding-right: 5vw;         /*relative padding equal to 5% of viewport width*/
    letter-spacing: normal;     /*didn't like the wide spacing in example code, found it difficult to read*/
}


.center {                       /*applies to all centered text*/
    text-align: center;
    font-size: 18px;
    color: #D1D0CB;
}


a {                             /*anchor elements*/
    color:#6E6353;            /*makes all links a soft brown*/
    cursor: pointer;
    text-decoration: underline; /*ensures all links are underlined*/
}

q {
    font-style: italic;         /*italicizes the quote*/
}

img {
    border-radius: 4px;
    max-width: 100%;
    height: 340px;
    max-height: 100%;
    display: inline-block;          /*enables images to be centered*/
    margin: auto auto auto auto;    /*centers all images*/
    vertical-align: middle;
    opacity: 1;
}
                                    /*removed grayscale filter*/

@media screen and (max-width:576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

footer {
    padding: 2%;
    background-color: #6E6353;
}

/*---------------------------------
       END OF GENERAL STYLING
---------------------------------*/

/*---------------------------------
          NAVBAR STYLING
---------------------------------*/

.navbar {
    overflow: hidden;           /*any content that overflows beyond boundary of nav bar is not displayed*/
    background-color: #2e2e2e;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;                 /*ensures other elements don't display over the navbar*/
    -webkit-animation: moveNav 5s;
    animation: moveNav5s;
}

@keyframes moveNav {            /*effect for moving the navbar in from the left of the screen on page load*/
    from {left: -100vw;}        /*navbar starts off screen to the left*/
    to {left:0vw;}              /*this moves navbar into place on the screen*/
}

.navbar a {                     /*navbar links*/
    float: left;
    display: block;
    color: #A2A092;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;          /*sets text rel to normal positioning*/
    -webkit-animation: moveNavText 1s;
    animation: moveNavText 1s;
}

@keyframes moveNavText {    
    from {left:-100vw;}          /*sets the navbar text 100% above the viewport*/
    to {left: 0vw;}              /*lowers the navbar text onto the navbar*/
}

@media screen and (max-width: 576px) {      /*screens 576px and smaller will display navbar links equally distributed*/
    .navbar a {
        width: 25%;                         /*links will take up 1/4 of navbar*/
        font-size: 12px;
    }
}

.navbar a:hover {                   /*navbar hover effects*/
    background-color: #524d48;             
    cursor: pointer;
}                                   /*omitted .5s ease-in from the example code, makes the experience laggy*/

/*--------------------------------
      END OF NAVBAR STYLING
--------------------------------*/

/*--------------------------------
     BACKGROUND VIDEO STYLING
--------------------------------*/
#typing-vid {
    position: fixed;    /*fixes video to the page*/
    right: 0;           /*no spaces between edge of video and edge of page*/
    bottom: 0;
    min-width: 100%;    /*video stretches to fit page*/
    z-index: -1;        /*video stays behind other elements*/
    filter: blur(5px);  /*i blurred the video a bit so that the white text is easier to read*/
}

@media screen and (max-width:576px) {
    #typing-vid {
        display: none;                  /*vid will not display on screens 576px and smaller*/
    }
}

.video-text {                           /*text overlaying the video*/
    background: rgba (0, 0, 0 , 0.5);   /*makes a semi-transparent bg for text*/
    color: #D1D0CB;                   /*font over video*/
    width: 100%;                        /*ensures text container fills width of video*/
    height: 100vh;                      /*ensures video-text container fills height of viewport so that*/
                                        /*the slideshow is not partially displayed*/
    padding-top: 2vh;                   /*adds padding around video-text container so bg goes slightly beyond the text*/           
    position: relative;                 /*allows us to use the animation below*/
    -webkit-animation: moveVideoText 2s;
    animation: moveVideoText 2s;
}

@keyframes moveVideoText {              /*causes text to move up from bottom of page upon load*/
    from {top: -100vw;}                 /*sets position of video text to above the viewport*/
    to {top: 0vw;}                      /*moves the video text to normal positioning on the viewport*/
}

/*-----------------------------
     END OF VIDEO STYLING
-----------------------------*/

/*-----------------------------
      SLIDESHOW STYLING
-----------------------------*/
#slideshow_bg {
    background: #A2A092;          /*I removed the slightly transparent white bg that is placed over video in the bg*/
    opacity: 1;
}

.mySlides {
    display: none;                  /*prevents images from being displayed, we will use JS to display these*/
}

#slideshow_container {
    width: 39.5vw;                  /*relative sizing of container set to 39.5% of viewport width*/
    height: auto;                   /*automatically adjusted based on content it's displaying*/
    padding-top: 4%;                /*adds small padding to top of slideshow container*/
    position: relative;             /*sets the container relative to its normal positioning*/
    margin: auto;                   /*this horizontally centers the container on the page*/
}

#slideshow_container a {
    text-decoration: none;          /*removes the line from underneath the prev & next buttons on slideshow*/
}

.slideshow_images {
    vertical-align: middle;         /*centers images vertically within the slideshow container*/
    height: auto;                   /*height of images automatically adjusted based on content*/
                                    /*(i.e., if images are different sizes they will display as diff sizes)*/
    width: 100%;                    /*width of images automatically adjusted based on the content*/
}

.previous, .next {
    cursor: pointer;
    position: absolute;             /*makes the buttons positioned relative to the slideshow container*/
    top: 50%;                       /*moves buttons up in the slideshow container*/
    width: auto;                    /*width of buttons automatically adjusted based on content*/
    padding: 2vw;
    color: darkslategray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6 ease;           /*specifies the details of the hover transition for these elements*/
}

.next {
    right: 0;                       /*moves next button to right side of slideshow container*/
    border-radius: 3px 0 0 3px;     /*top and bottom left of button are rounded*/
}

.previous:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);  /*makes bg of the arrows a transparent gray color*/
    color: #D1D0CB;                     /*makes arrows white when hovered over*/
}

.text {                             /*slideshow text*/
    color: #D1D0CB;
    padding: 1vw;
    position: absolute;             /*ensures text is positioned within the image*/
    bottom: 0;                      /*sets text at the bottom of the image*/
    width: 100%;                    /*element covers full width of image*/
    text-align: center;
    font-family: "Open Sans", sans-serif;
    letter-spacing: normal;
    font-size: 1.2vw;
    background-color: rgba(0,0,0, .75);
    font-weight: normal;
    border-radius: 0px 0px 3px 3px; /*gives text bg rounded corners on bottom left and right*/
                                    /*had to modify this from 7px to 3px because white space was showing*/
}

.dot {                              /*styling of the dots under slideshow*/
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;                  /*adds additional spacing between the dots*/
    background-color: white;      /*makes dots white*/
    border-radius: 50%;             /*makes the dots circles by rounding each other*/
    display: inline-block;          /*allows dots to sit next to each other rather than on a new line*/
    transition: background-color 0.6s ease; /*when clicked on, dots transition to different color when clicked or hovered over*/
    z-index: 1;                     /*ensures dots are displayed aboved any other elements*/
}

.active, .dot:hover {               /*hover effect for slideshow dots*/
    background-color: black;      /*sets color of dots when active or hovered over*/
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}             /*image starts transparent*/
    to {opacity: 1;}                /*image ends opaque*/
}

/*-----------------------------
     END SLIDESHOW STYLING
-----------------------------*/

/*-----------------------------
        COLUMN STYLING
-----------------------------*/

* {                                 /*universal selector that applies this effect to all elements on page*/
    box-sizing: border-box;         /*creates a box with a border within which we will place most text*/
}

.column_1 {
    float: left;
    width: 50%;                     /*ensures column takes up half the page width*/
    padding: 1.6%;
    height: 550px;
    background-color: #D1D0CB;
}

@media screen and (max-width: 576px) {
    .column_1 {
        overflow: auto;             /*displays a scroll bar if text overflows the column height!!!*/
    }
}

.column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 550px;
    background-color: #2e2e2e;
    display: grid;
    place-items: center;
}

.column_tall {                          /*for columns in the final row*/
    padding-top: 3.5%;
    height: 450px;
}

.row:after {
    content: "";                        /*by leaving this blank, we are allowing the footer to be displayed*/
                                        /*removing it makes the footer overwrite a column*/
    display: table;                     /*this tells the browser to treat the element as a table*/
    clear: both;                        /*clears any other elements from floating on the left or the right of an element*/
}

#about p {
    font-size: 1.2vw;
}

#github p {
    font-size: 1.2vw;
}


/*----------------------------
    CONTACT FORM STYLING
----------------------------*/
.pop_up_button {
    position: fixed;                /*element is relative to viewport and stays in the same location no matter what*/
    bottom: 1.5vw;                  /*positions button slightly up from bottom of viewport*/
    right: 1.5vw;                   /*positions button slightly right from side of viewport*/
    width: 25vw;
    background-color: white;
    color: black;
    border: solid black;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

@keyframes movePopup {              /*the movePopup animation moves the button from off the right side of the screen*/
    from {right: -40vw;}            /*to its fixed location on the viewport*/
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

.form-popup {
    z-index: 8;                     /*ensures contact form shows above all other elements on the page*/
    display: none;                  /*we will use JavaScript to show the contact form*/
    position: fixed;                /*form stays in same location no matter what*/
    bottom: 1vw;
    right: 1vw;
}

.form-container {
    max-width: 49vw;
    padding: 1vw;                   /*adds padding btwn form-popup and form-container*/
    background-color: white;
}

.form-container input[type=text] {  /*input fields styling*/
    width: 100%;                    /*input boxes will width of their container*/
    padding: .93vw;
    margin: .6vw 0 .6vw 0;          /*adds space btwn input boxes and the labels*/
    border: none;
    background: gainsboro;
    font-size: 1vw;
}


button {
    font-family: "Antonio", sans-serif;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;                 /*adds padding to text inside button*/
    cursor: pointer;
    width: 100%;                    /*sets width of buttons to 100% of their container*/
    height: auto;                   /*allows height to be resized depending on the content showing*/
}

button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;    /*for safari 4.0-8.0*/
    border-color: silver;
}

.form-container .btn {               /*submit button*/
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vh;              /*adds space btwn submit button and the close button*/
}

.form-container .cancel {           /*close/cancel button*/
    background-color: black;
    color: white;
    border-color: gray;
}

.form-container .cancel:hover {     /*close button on hover*/
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}

/*--------------------------------
    END OF CONTACT FORM STYLING
---------------------------------*/

/*--------------------------------
       MEDIA QUERY SECTION
--------------------------------*/

@media screen and (max-width: 527px) {      /*media rules for paragraph font size for different screen sizes*/
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

/*media rule for navbar links for different screen sizes*/
/*screens 1080px and smaller will display navbar links equally distributed*/

@media screen and (max-width: 1080px) {
    .navbar a {
        width: 20%;                         /*sets each navbar link to 1/5 of the navbar*/
        font-size: 2.5vw;
    }
}

/*media rules to enlarge the font of the white text for smaller screens*/
@media screen and (max-width: 1080px) {
    .q {
        font-size: 3.5vw;
    }

    .white-text {
        font-size: 4.5vw;
    }
}

/*media rules to increase the size of the columns for larger screens*/
@media screen and (min-width: 1725px) {
    .column_1 {
        height: 550px;
    }

    .column_2 {
        height: 550px;
    }
}

/*media rule to remove margin-top from h1 elements for extra large screens*/
/*(so that the paragraph text fits in the column*/
@media screen and (min-width: 2000px) {
    h1 {
        margin-top: 0;
    }
}

/*---------------------------------
     END OF MEDIA QUERY SECTION
---------------------------------*/