/*=============================
     HOME PAGE MENU STYLES
==============================*/

body {
	background-color: #CAB6BA;
}

h1 {
	text-align: center;
	font-family: 'Book Antiqua';
	font-size: 40px;
	letter-spacing: 2px;
}

li {
	text-align: center;
	font-family: 'Book Antiqua';
	font-size: 20px;
}

p {
	text-align: center;
}

ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

li {
	display: inline;
}

li a{
	display: inline;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/*=====================================
        GALLERY SECTION STYLES
=====================================*/

.photo-container {
	display: grid;
	grid-gap: 10px;
	margin: 15px auto;
	flex-wrap: wrap;
	padding: 10px;
}

.photo-container img {
	max-width: 100%;
	width: 400px;
	height: 400px;
	object-fit: cover;
	overflow: hidden;
}

.column {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 50%
	flex: 50%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
}


	