/*=============================
     HOME PAGE MENU STYLES
==============================*/

body {
	background-color: #CAB6BA;
}

h1 {
	text-align: center;
	font-family: 'Book Antiqua';
	font-size: 40px;
	letter-spacing: 1px;
}

li {
	text-align: center;
	font-family: 'Book Antiqua';
	font-size: 20px;
}

p {
	text-align: center;
}

ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	text-align: center;
}

li {
	display: inline;
}

li a{
	display: inline;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/*Lightbox Gallery*/

.row > .column {
	padding: 8px 5px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/*creates 4 equal columns that float next to each other*/

.column {
	float: left;
	width: 25%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/*The Modal(background)*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/*Modal Content*/
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}

/*The Close Button*/
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

/*Hide the slides by default*/
.mySlides {
	display: none;
}

/*Next & Previous Buttons*/
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/*Position the "next" button to the right*/
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/*On hover, add a black background color with a little bit see-through*/
.prev:hover,
.next:hover {
	background-color: rgba(0,0,0,0.8);
}

/*Number text (1/9 etc)*/
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/*Caption Text*/
.caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

img.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s;
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}




/*=====================================
         CONTACT FORM STYLE
=====================================*/


#contact {
	background-color: #CAB6BA;
}

.contact-form h2 {
	width: 70%;
	text-align: center;
	margin: 0 auto;
	color: #13161B;
	font-family: 'Book Antiqua';
	font-weight: 500;
	font-size: 1.3em;
	letter-spacing: 0pt;
	word-spacing: 0pt;
}

.contact-form h2 span {
	width: 70%;
	text-align: center;
	margin: 0 auto;
	color: #13161B;
	font-family: 'Book Antiqua';
}

.form {
	font-size: 15px;
	outline: none;
	font-weight: 600;
	padding: 12px 12px;
	width: 50%;
	margin: 2% auto;
	border-radius: 7px;
	background: rgb(227, 222, 222);
}

.form input[type="text"] {
	font-size: 15px;
	outline: none;
	font-weight: 500;
	color: #8D8E8F;
	padding: 2% 1% 2% 7%;
	width: 80%;
	border-top: 1px solid #090B0D;
	border-right: 2px solid #424549;
	border-bottom: 2px solid #424549;
	border-left: 1px solid #090B0D;
	margin: 10px 1em;
	border-radius: 4px;
	background: #FFFFFF;
	font-family: 'Book Antiqua';
}

.form input[type="text"]:hover {
	box-shadow: 0 0 18px rgba(102, 0, 0, .8);
}

.form-spacer {
	padding: 30px 39px;
}

.submit {
	text-align: center;
}

.submit input[type="submit"] {
	color: rgb(255, 255, 255);
	cursor: pointer;
	border: none;
	font-weight: 900;
	outline: none;
	text-align: center;
	font-family: 'Book Antiqua';
	margin: 0px 3%;
	padding: 7px 0px;
	width: 25%;
	font-size: 18px;
	transition: border-color 0.3s color 0.3s background-color 0.3s;
	border-radius: 7px;
	background-color: #000000;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.submit input[type="submit"]:hover {
	color: #000;
	background-color: #8D8E8F;
	box-shadow: inset 1px 2px 15px 0 rgba(0, 0, 0, 0.5);
}

.info h3 {
	text-align: center;
	font-family: 'Book Antiqua';
}

.summary h3 {
	text-align: center;
	font-family: 'Book Antiqua';
}

.summary p {
	text-align: center;
	font-family: 'Times New Roman';
	font-style: italic;
}