body {
    background-color: #eb5a17;
}

.navbar {
    font-family: "Cormorant", serif;
    text-transform: uppercase;
}

h1 { 
    text-align: center;
    color: beige;
    letter-spacing: 2px;
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.card-img-overlay {
    position: absolute;
    bottom: 0px;
}

.jumbotron {
    background-size: cover;
    position: relative;
}

h3 {
    font-family: "Cormorant", serif;
    color:beige;
    font-weight: bold;
    padding-top: 10px;
}

.photo-container img {
    height: 500px;
    padding-right: 20px;
}

p {
    font-family: "Roboto", sans-serif;
    color: black;
}

.row {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.btn {
    font-family: "Roboto";
}
